RewriteEngine On

# URL을 views/ 폴더로 보냄
RewriteRule "^login.php$" "views/login.php"
RewriteRule "^chat.php$" "views/chat.php"
RewriteRule "^users.php$" "views/users.php"
RewriteRule "^edit-profile.php$" "views/edit-profile.php"
RewriteRule "^find-password.php$" "views/find-password.php"
RewriteRule "^auth-code.php$" "views/auth-code.php"
RewriteRule "^verify-password.php$" "views/verify-password.php"

# 404 에러(존재하지 않는 페이지로 이동)가 발생하면 홈페이지로 이동
ErrorDocument 404 http://localhost/chatting/
