RewriteEngine On

# URL을 views/ 폴더로 보냄
RewriteRule "^login.php$" "views/login.php"
RewriteRule "^chat.php$" "views/chat.php"
RewriteRule "^users.php$" "views/users.php"
RewriteRule "^edit-profile.php$" "views/edit-profile.php"
RewriteRule "^find-password.php$" "views/find-password.php"
RewriteRule "^auth-code.php$" "views/auth-code.php"
RewriteRule "^verify-password.php$" "views/verify-password.php"
