/* 태그에 기본적으로 들어가 있는 마진, 패딩을 0 으로 설정
box-sizing은 border-box로 테두리를 기준으로 크기를 설정
글씨에 밑줄이 들어가는 등의 text-decoration을 제거*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

/* body 태그
display는 flex
가로, 세로 가운데 정렬
min height는 현재 화면 세로 크기 기준
*/
body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: #f7f7f7;
}

/* index.php, chat.php, edit-profile.php, login.php, users.php의 body 태그 내부의 div 박스의 클래스 wrapper*/
.wrapper {
	background: #fff;
	width: 450px;
	border-radius: 16px;
	box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

/* index.php, edit-profile.php, login.php의 폼 */
.form {
	padding: 25px 30px;
}

.form header {
	font-size: 25px;
	font-weight: 600;
	padding-bottom: 10px;
	/* border-bottom: 1px solid #e6e6e6; */
}

.form form {
	margin: 20px 0;
}

.form form .error-txt {
	color: #721c24;
	background: #f8d7da;
	padding: 8px 10px;
	text-align: center;
	border-radius: 5px;
	margin-bottom: 10px;
	border: 1px solid #f5c6cb;
	display: none;
}

.form form .name-details {
	display: flex;
}

form .name-details .field:first-child {
	width: 100%;
}

.form form .field {
	display: flex;
	position: relative;
	flex-direction: column;
	margin-bottom: 10px;
}

.form form .field label {
	margin-bottom: 2px;
}

.form form .field input {
	outline: none;
}

.form form .input input {
	width: 100%;
	height: 40px;
	font-size: 16px;
	padding: 0 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.input-field {
	outline: none;
}

.input-field {
	width: 100%;
	height: 40px;
	font-size: 16px;
	padding: 0 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.form form .image input {
	font-size: 17px;
}

.form form .button input {
	margin-top: 13px;
	height: 45px;
	border: none;
	font-size: 17px;
	font-weight: 400;
	background: #333;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}

.form form .field i {
	position: absolute;
	right: 15px;
	color: #ccc;
	top: 70%;
	transform: translateY(-50%);
	cursor: pointer;
}

.form form .field i.active::before {
	color: red;
	content: '\f070';
}

.form form .field i:hover {
	color: orange;
}

.form .link {
	text-align: center;
	margin: 10px 0;
	font-size: 17px;
}

.form .link a {
	color: #333;
}

.form .link a:hover {
	text-decoration: underline;
}

/* Users Area Css code */
.users {
	padding: 25px 30px;
}

.users header,
.users-list a {
	display: flex;
	align-items: center;
	padding-bottom: 20px;
	justify-content: center;
	justify-content: space-between;
	border-bottom: 1px solid #e6e6e6;
}

.wrapper img {
	object-fit: cover;
	border-radius: 50%;
}

:is(.users, .users-list) .content {
	display: flex;
}

.users header .content img {
	width: 50px;
	height: 50px;
}

:is(.users, .users-list) .details {
	color: #000;
	margin-left: 15px;
}

:is(.users, .users-list) .details span {
	font-size: 18px;
	font-weight: 500;
}

.users header .logout {
	color: #fff;
	font-size: 17px;
	padding: 7px 15px;
	background: #333;
	border-radius: 5px;
}

.users .search {
	margin: 20px 0;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: space-between;
}

.users .search .text {
	font-size: 18px;
}

.users .search input {
	position: absolute;
	width: calc(100% - 50px);
	height: 42px;
	border: 1px solid #ccc;
	padding: 0 13px;
	font-size: 16px;
	border-radius: 5px 0 0 5px;
	outline: none;
	opacity: 0;
	pointer-events: none;
	transition: all 0.2s ease;
}

.users .search input.active {
	opacity: 1;
	pointer-events: auto;
}

.users .search button {
	width: 47px;
	height: 42px;
	border: none;
	outline: none;
	color: #333;
	background: #fff;
	cursor: pointer;
	font-size: 17px;
	border-radius: 0 5px 5px 0;
	transition: all 0.2s ease;
}

.users .search button.active {
	color: #fff;
	background: #333;
}

.users .search button.active i::before {
	content: '\f00d';
}

.users-list {
	max-height: 350px;
	overflow-y: auto;
}

:is(.users-list, .chat-box)::-webkit-scrollbar {
	width: 0px;
}

.users-list a {
	margin-bottom: 15px;
	page-break-after: 10px;
	padding-right: 15px;
	border-bottom-color: #f1f1f1;
}

.users-list a:last-child {
	border: none;
	margin-bottom: 0px;
}

.users-list a .content img {
	width: 40px;
	height: 40px;
}

.users-list a .content p {
	color: #67676a;
}

.users-list a .status-dot {
	font-size: 12px;
	color: #468669;
}

/* PHP에서 이 클래스 이름을 사용하여 오프라인 상태를 표시합니다. */
.users-list a .status-dot.offline {
	color: #ccc;
}

/* Chat Area Css code */
.chat-area header {
	display: flex;
	align-items: center;
	padding: 18px 30px;
}

.chat-area header .back-icon {
	font-size: 18px;
	color: #333;
}

.chat-area header img {
	width: 45px;
	height: 45px;
	margin: 0 15px;
}

.chat-area header span {
	font-size: 17px;
	font-weight: 500;
}

.chat-box {
	height: 500px;
	overflow-y: auto;
	background: #f7f7f7;
	padding: 10px 30px 20px 30px;
	box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%), inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
}

.chat-box .chat {
	margin: 15px 0;
}

.chat-box .chat p {
	word-wrap: keep-all;
	padding: 8px 16px;
	box-shadow: 0 0 32px rgb(0 0 0 / 8%), 0 16px 16px -16px rgb(0 0 0 / 10%);
}

.chat-box .outgoing {
	display: flex;
}

.outgoing .details {
	margin-left: auto;
	max-width: calc(100% - 130px);
}

.outgoing .details p {
	width: 200px;
	background: #333;
	color: #fff;
	border-radius: 18px 18px 0 18px;
	word-wrap: break-word;
}

.chat-box .incoming {
	display: flex;
	align-items: flex-end;
}

.chat-box .incoming img {
	width: 35px;
	height: 35px;
}

.incoming .details {
	margin-left: 10px;
	margin-right: auto;
	max-width: calc(100% - 130px);
}

.incoming .details p {
	width: 200px;
	color: #333;
	background: #fff;
	border-radius: 18px 18px 18px 0;
	word-wrap: break-word;
}

.chat-area .typing-area {
	padding: 18px 30px;
	display: flex;
	justify-content: space-between;
}

.typing-area input {
	height: 45px;
	width: calc(100% - 58px);
	font-size: 17px;
	border: 1px solid #ccc;
	padding: 0 13px;
	border-radius: 5px 0 0 5px;
	outline: none;
}

.typing-area button {
	width: 55px;
	border: none;
	outline: none;
	background: #333;
	color: #fff;
	font-size: 19px;
	cursor: pointer;
	border-radius: 0 5px 5px 0;
}

/* 로그인 */
#loginMaintain,
#loginStatusMaintain {
	transition: all 0.2s ease;
	cursor: pointer;
}

#loginMaintain:hover,
#loginStatusMaintain:hover {
	color: orangered;
}

#loginMaintain:active,
#loginStatusMaintain:active {
	scale: 0.9;
}

#loginMaintain.active,
#loginStatusMaintain.active {
	color: red;
}

#passwordFind,
#passwordFindText {
	transition: all 0.2s ease;
	cursor: pointer;
}

#passwordFind:hover,
#passwordFindText:hover {
	color: orangered;
}

#passwordFind:active,
#passwordFindText:active {
	scale: 0.9;
}

#passwordFind.active,
#passwordFindText.active {
	color: red;
}

/* 채팅 */
#chatImage {
	object-fit: cover;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

#myMessageCloseIcon {
	color: orange;
	position: relative;
	top: 1px;
	right: -2px;
	cursor: pointer;
}

#myImageCloseIcon {
	color: orange;
	position: relative;
	top: -5px;
	right: -180px;
	cursor: pointer;
}

#myImageCloseIcon:hover {
	scale: 0.9;
}

#myImageCloseIcon:active {
	color: red;
}

.myImageCloseIcon {
	transition: all 0.2s ease;
}

.myImageCloseIcon:hover {
	scale: 0.9;
}

.myImageCloseIcon:active {
	color: red;
}

.chatPhotoImage:hover {
	scale: 1.5;
}

/* users.php */
/* 햄버거 자식 버튼 */
.hamburgerChildButton {
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 3px;
	width: 100%;
	height: 45px;
	border: none;
	font-size: 17px;
	font-weight: 400;
	background: #333;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}

.chattingMessage {
	min-height: 10%;
	max-height: 15%;
}

#emailAuthentication {
	color: black;
	cursor: pointer;
	font-style: normal;
	transition: all 0.2s ease;
}

#emailAuthentication:hover {
	border: 1px solid orange;
	color: white;
	background-color: orange;
	padding: 10px;
	border-radius: 5px;
}

#emailAuthenticationTimer {
	color: black;
	font-style: normal;
	cursor: default;
}

#myImgDiffDay {
	position: relative;
	left: 30px;
	top: 5px;
	color: red;
	font-weight: bold;
}

/* 미디어 쿼리 시작 =========================================================*/
/* 아이폰 XR - 414 x 896 */
@media (max-width: 414px) {
	#myImageCloseIcon {
		color: orange;
		position: relative;
		top: -5px;
		right: -139px;
		cursor: pointer;
	}
}

/* 삼성 갤럭시 S20 울트라 - 412 x 915*/
@media (max-width: 412px) {
	#myImageCloseIcon {
		color: orange;
		position: relative;
		top: -5px;
		right: -139px;
		cursor: pointer;
	}
}

/* 픽셀 5- 393 x 851*/
@media (max-width: 393px) {
}

/* 아이폰 12 Pro - 390 x 844*/
@media (max-width: 390px) {
}

/* 아이폰 SE - 375 x 667 */
@media (max-width: 375px) {
	.outgoing .details p {
		width: 185px;
		background: #333;
		color: #fff;
		border-radius: 18px 18px 0 18px;
		word-wrap: break-word;
	}

	#myImgDiffDay {
		position: relative;
		top: 4px;
		color: red;
		font-weight: bold;
	}

	#myImageCloseIcon {
		transition: all 0.2s ease;
		color: orange;
		position: relative;
		top: -2px px;
		right: -109px;
		cursor: pointer;
	}

	#myImageCloseIcon:hover {
		scale: 0.9;
	}

	#myImageCloseIcon:active {
		color: red;
	}
}

/* 삼성 갤럭시 S8+ - 360 x 740*/
@media (max-width: 360px) {
}

/* 갤럭시 폴드 - 280x 653*/
@media (max-width: 280px) {
	#hamburgerModal {
		position: absolute;
		top: 44%;
		left: 5%;
	}

	#myImgDiffDay {
		display: inline-block;
		position: relative;
		top: 4px;
		left: -10px;
		color: red;
		font-weight: bold;
		width: 300px;
	}
}

/* 미디어 쿼리 끝 ===========================================================*/
